db.sqlite
*.e4*
*~
*.pyc
playlist/logic/ices.log
playlist/logic/pid
playlist/songs
settings.py
SQLMiddleware.py
db
dbdump.sql
dump
dump_090828.sql
g2.log
ircbot/
mysql.dump
playlist/IPMiddleware.py
playlist/ftpd.error.log
playlist/ftpd.lines.log
playlist/ftpd.log
playlist/search.py
sql.log
dump_*
mysql
nohup.out
out.sql
playlist/logic/ices.cue
playlist/migrations/

