/*
for simple color and image changing theme, the marked attributes are
freely changeable without immediate danger of structural compromise. :)
- lots of homosexual love, overdose xxx
*/
body, th, td {
  font:12px/1.4em Verdana,sans-serif;
}
div.playlist table td {
  height: 18px;
  padding: 0px;
}
body {
  background-image:url('bodystripes3.png'); /* THEME: background */
}
#playlist {
  background-color:#F5FFEE; /* THEME: playlist background */
}
tr.odd, #columns tr {
  background-color:#F5FFEE; /* THEME: playlist alternating color 1 */
}
tr.even, #columns tr {
  background-color:#E5EEDE; /* THEME: playlist alternating color 2 */
}
#columns th {
  background-color:#363; /* THEME: column labels at the top background */
  color:#EEE; /* THEME: column labels color */
  font-weight:bold; /* THEME: column labels weight */
}
#playlist a {
  text-decoration:none; /* THEME: playlist item text decoration */
  color:black; /* THEME: playlist item color */
}
#playlist td {
  padding:0px 5px;
}
#playlist td.time {
  text-align: right;
}

#playlist a:hover {
  text-decoration:underline;
}

div.playlist {
  margin-left: 133px;
  margin-right:3px;
}
div.playlist table {
  width:100%;
  border:1px solid black;
}
div.leftside {
  width:133px;
  float:left;
}
div.sidebar {
  background-repeat:repeat-y;
  background-image:url('menubg.png');
  background-color:#F9FFF9; /* THEME: menu base color */
  width:100px;
}
div.sidebarbg {
  background-image:url('sidebarimg2b.png'); /* THEME: menu base image (default; leaves) */
  width:100px;
}
img.logo {
  background-image:url('logobg3.png'); /* THEME: menu base logo at the top (default; worried face) */
}
ol.menu {
  margin-left:40px;

}
ol.menu li {
  font-size:10px;
  list-style:none;
  background-image:url('container6.png');
  background-repeat:no-repeat;
  background-color:#F5FFEE; /* THEME: menu button colors */
  margin:2px 0px 2px -40px;
  width:85px;
  height:16px;
}
ol.menu li.sub {
  background-image:url('container6sub.png');
  background-repeat:no-repeat;
  margin:2px 0px 2px -30px;
  width:75px;
}
ol.menu  a {
  text-decoration:none;
  color:black;
  margin:2px 0px 2px 10px;
}
ol.menu li:hover {
  background-color:#9C9; /* THEME: menu button hover color */
}
#butansurface {
  position:absolute;
  margin-left:-10px;
}
ol.menu li.sub #butansurface {
  width:75px;
}
div.banner {
  clear: both;
  float: center;
  margin-left: auto;
  margin-right:auto;
  width: 640px;
}
div.song {
  margin-left: auto;
  margin-right:auto;
  width: 630px;
  float: center;
  border-style: dotted;
  border-width: 1px;
  padding: 5px;
}
div.page-links {
  text-align: center;
  border-style: dotted;
  border-width: 1px;
  padding: 3px;
  background-color:#EFE; /* THEME: artist index banner background */
}
div.artists {
  margin-left: 133px;
  margin-right: auto;
  width: 640px;
  float: center;
  border-width: 1px;
  
}
div.artists li a {
  text-decoration:none;
}
div.artists li a:hover {
  text-decoration:underline;
}
div.artists ul {
  background-color:#EEFCEE;
  border:1px dotted black;
  list-style-image:url('note.png');
}
p.artists {
  border-width: 1px;
  border-style: dotted;
  padding: 5px;
}
p.copyright, p.listenersthing {
  font-size: 0.7em;
  color: grey;
  max-width:99px;
  text-align:center;
}
th.song {
  font-family: "Lucida Grande","Lucida Sans",Helvetica,Geneva,Verdana,Arial;
  color: white;
  background-color: black;
  font-size: 10px;
  border-bottom: 2px solid black;
}
a img {
  border-width: 0px;
}
tbody#playlist td img {
  height:15px;
  width:15px;
}
.album {
  font-weight: bold;
  text-align: center;
}
.playing td {
  background-color: #9C9; /* THEME: playlist currently playing item background color */
  font-weight:bold; /* THEME: playlist currently playing item font weight */
}
.banned {
  text-decoration: line-through;
}
div.content div.playlist table th {
  background-color:#EFE;
}
div.content {
  
}
div.playlist div.playlist {
  border:1px solid black;
}
div#player1 {
  text-align:center;
}
a.voted {
  background-color: black;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
ol.alphabetical li {  /* ARTISTS page starts here */
  list-style:none;
  float:left;
  margin:2px;
  border:1px solid black;
  background-color:#F5FFEE;
}
ol.alphabetical li:hover {
  background-color:#9C9;
}
ol.alphabetical li a, ol.alphabetical li a:hover {
  color:black;
  text-decoration:none;
  padding:3px;
}
ol.alphabetical {
  margin-bottom:40px;
}
ol.alphabetical li.chosen {
  font-weight:bold;
  border:2px solid black;
  background-color:#E5EFDE; /* ARTISTS page ends here */
}
div#player {        /* Flash Player */
	text-align:center;
}
div.messages p {    /* MESSAGES bar- "track added", "too many dongs" etc. */
  padding:2px 2px 2px 20px;
  background-color:#FF7;
  border:1px solid #770;
  display:block;
  margin-left:140px;
  margin-right:10px;
  font-weight:bold;
}
div.progtube {
  width:320px;
  border:1px solid black;
  background-color:#FFF;
  height:8px;
}
div.progbar {
  height:8px;
  background-color:#050;
}
div.clutterbar, div.notices, div.topbar {
  font-size:smaller;
  border:1px solid black;
  padding:10px;
  background-color:#F5FFEE;
  margin:5px 10px 5px 140px;
}

div.clutterbar {
  float: right;
  position: fixed;
  min-height:55px;
  bottom: 0px;
  /* background-position:top right;   No need for this.. yet
  background-repeat:no-repeat; */ 
}
div.voteboxbar {
  float:right;
  padding-left:5px;
}
div.voteboxbar p {
  font-size:larger;
}
div.clutterbar p a, td.votes a {
  border:1px solid black;
  padding:1px;
  margin:1px;
  text-decoration:none;
  color:black;
  background-color:#F5FFEE;
}
td.votes a {
  display:inline-block;    /* FIXED SIZE VOTE BUTTONS */
  width:10px;
  height:15px;
  margin:0px -1px;
  text-align:center;
  font-weight:normal;
}
td.votes {
  white-space:nowrap;    /* THE VOTE ROW SHALT NOT BREAK! */
  width:75px;           /* also that pesky unnecessary space at the end needs to go */
}
div.clutterbar p a.selectedvote, div.clutterbar p a.selectedvote:hover, #playlist td.votes a.voted, #playlist td.votes a.voted:hover {
  color:white;
  background-color:black;
  font-weight:bold;
}
div.clutterbar p a:hover, #playlist td.votes a:hover {
  background-color:#9C9;
  text-decoration:none;
}
div.voteboxsong {
  display:block;
  margin-right:330px;
}
p.listenersthing {
  font-size:10px;
  color:black;
  font-weight:bold;
  max-width:99px;
  text-align:center;
}
li #id_query {
  width:79px;
  height:14px;
  font-size:11px;
  border:0px;
  margin:1px 3px 1px 3px;
  padding:0px;
}
