/* The following CSS is mad, messy, horrible maze of a thing, sorry */

body, #maincontainer { background-color:#D8E9D6; } /* BODY BG, PLAYLIST CONTAINER BG */
a.boxed, #id_query { background:#B1D07C url('thintop1.png') repeat-x; color:#F9F00D; } /* BUTTON BG */
a.boxed:hover { background-color:#E0F290; } /* BUTTON HOVER BG */
#bottomcont { background:#A1D29D url('thintop1.png') repeat-x; } /* BOTTOM BAR BG */
#leftmenu { background:#A1D29D url('g2log2.png') no-repeat center bottom; } /* MENU BG */
#noticearea { background:#A1D29D url('thintop1.png') repeat-x; } /* NOTICE BOX BG */
#messages { background:rgba(224,242,144,0.5) url('thintop1.png') repeat-x; } /* SONG ADDED MESSAGES ETC BG */
div#progbar { background-color:#000; } /* PROGRESS BAR FILL COLOUR */
td.votes a { background-color:#FFF; } /* VOTE BOX BG IN PLAYLIST */
.odd { background-color:#D8E9D6; } /* ODD PLAYLIST ITEM BG */
.even { background-color:#E7F1E6; } /* EVEN PLAYLIST ITEM BG */
tr.uploaded .artistry {
  background-image:url('marker4.png');
  background-repeat:no-repeat;
  background-position:left center;
}
tr.added .artistry {
  background-image:url('marker1.png');
  background-repeat:no-repeat;
  background-position:left center;
}
.playing, .playing a { background-color:#5AB253; color:#FFF; background-image:none; } /* SPECIAL PLAYLIST ITEM */
/* .added { background-color:#A1D29D; } .added a  { background-color:transparent; } DISABLE WHILE EXPERIMENTING */ /* SPECIAL COLOURS FOR FAVE/ADDED/UPLOADED/FRIEND ITEMS */
/* .uploaded { background-color:#A8D5A6; } DISABLE WHILE EXPERIMENTING WITH MARKERS */
/* .custom1, .custom1 a {
  background-color:#F11; color:#FFF;
}
.custom2, .custom2 a {
  background-color:#000; color:#FFF;
} */
td { border-color:#DDD; } /* PLAYLIST INNER BORDERS */
#columns { background-color:#448F3F; color:#FFF; } /* COLUMN TITLES BG */
#length { background:#D8E9D6; color:#000; } /* PLAYLIST LENGTH FIELD BG */
#commentsbox, #rightist { background-color:#C4E2C2; } /* COMMENTS BOX BG, RIGHT SIDE BOTTOM BOX BG */

body {
  margin:0px;
  background-attachment:fixed;
  font-family:verdana;
}
#bottombg { /* THIS IS JUST SILLINESS */
  position:absolute;
  bottom:81px;
  right:10px;
  width:181px;
  height:129px;
  z-index:10;
  background-image:url('konata.png');
  display:none; /* NO ONE LIKES KONATA :( */
}
#leftmenulogo {
  position:absolute;
  background-image:url('logo3.png');
  width:100px;
  height:100px;
}

form.boxed {
  height:12px;
  width:80px;
  display:block;
}

a.boxed, #id_query {
  border:1px solid black;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  height:12px;
  width:80px;
  display:block;
  font-size:10px;
  text-decoration:none;
  color:#000;
  font-family:verdana;
  vertical-align:top;
  box-shadow:1px 1px 1px rgba(0,0,0,0.5);
  -moz-box-shadow:1px 1px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.5);
  padding:0px 0px 1px 0px;
}
#leftmenu {
  position:fixed;
  top:0px;
  left:0px;
  bottom:100px;
  width:100px;
  border-width:0px 1px 0px 0px;
  border-style:solid;
  border-color:black;
  box-shadow:1px 0px 1px rgba(0,0,0,0.5);
  -moz-box-shadow:1px 0px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow:1px 0px 1px rgba(0,0,0,0.5);
  z-index:50;
}
#bottomcont {
  position:fixed;
  bottom:0px;
  left:0px;
  right:0px;
  height:100px;
  border-width:1px 0px 0px 0px;
  border-style:solid;
  border-color:black;
  z-index:55;
}
#mainmenu {
  list-style:none;
  margin:105px 0px 0px 0px;
  padding-left:22px;
}
#mainmenu li {
  margin-bottom:3px;
}
#maincontainer {
  margin:5px 0px 110px 100px;
  border:0px solid #666;
  /* border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px; */
  min-height:200px;
  padding-bottom:5px;
  /* box-shadow:1px 1px 1px #333;
  -moz-box-shadow:1px 1px 1px #333;
  -webkit-box-shadow:1px 1px 1px #333; */
}
#length {
  /* border-radius:7px 7px 0px 0px;
  -moz-border-radius:7px 7px 0px 0px;
  -webkit-border-radius:7px 7px 0px 0px; */
}
#noticearea, #messages {
  margin:5px 0px 0px 100px;
  border-width:1px 0px;
  border-style:solid;
  border-color:black;
  padding:2px 10px 2px 10px;
  font-size:11px;
}

div.playlist {
  margin-left:6px;
}

a.add {
  padding: 2px 2px 2px 2px;
  width: auto;
  display: inline;
}

div#maincontainer #noticearea, div#maincontainer #messages {
  margin:5px 0px 0px 0px;
}
div#maincontainer table#playlisttable {
  font-size:11px;
  border-collapse:collapse;
  width:100%;
}
p.listenersthing {
  font-size:10px;
  text-align:center;
  font-weight:bold;
  margin:20px 0px 10px 0px;
}
td {
  height:22px;
  border-width:0px 0px 0px 0px;
  border-style:solid;
  padding:1px 2px;
}
td.artistry {
  padding-left:12px;
}
td a {
  padding:1px 0px;
  text-decoration:none;
  color:#000;
  margin:0px;
}
td a:hover {
  text-decoration:underline;
}
#columns {
  border-width:0px 0px 0px 0px;
  border-style:solid;
  border-color:#000;
}
td.votes, td.score {
  width:50px;
  white-space:nowrap; 
  text-align:center;
}
td.votes a {
  font-size:11px;
  display:inline-block;
  width:11px;
  height:15px;
  text-align:center;
  padding:0;
  margin:-1px -2px;
  /* border:1px solid black;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px; */
  border-style:solid;
  border-color:#000;
  border-width:1px 0px;
  color:#000;
}
td.votes a.vote1 {
  border-radius:3px 0 0 3px;
  -moz-border-radius:3px 0 0 3px;
  -webkit-border-radius:3px 0 0 3px;
  border-width:1px 0 1px 1px;
}
td.votes a.vote5 {
  border-radius:0 3px 3px 0;
  -moz-border-radius:0 3px 3px 0;
  -webkit-border-radius:0 3px 3px 0;
  border-width:1px 1px 1px 0;
}
td.votes a:hover, td.votes a.voted, .selectedvote, div.voteboxbar a:hover, div#votebuttonslow a:hover {
  color:#FFF;
  background-color:#000;
  text-decoration:none;
}
td.emoted img {
  margin:0px;
  border:0px;
}
td.actions img, td.actions a, td.actions a:hover {
  display:inline-block;
  border:0;
  margin:0;
  height:16px;
  width:16px;
  background-color:inherit;
}
td.actions {
  white-space:nowrap;
  border:0;
}
.playing {
  font-weight:bold;

  border-width:2px 0px;
  border-style:solid;
  border-color:black;
  height:30px;
}
.playing a {
  padding:0px;
}
td.notyet a {
  display:none;
}
#id_query {
  height:14px;
  padding:0px;
  margin:0px 0px -13px 0px;
  background-color:#FFF;
  width:82px;
}
#id_query:hover {
  margin-left:-21px;
  width:103px;
}
div#progbarbox {
  margin:4px 5px 0px 5px;
  font-size:11px;
  display:block;
}
div#progtube {
  width:325px;
  border:1px solid black;
  background-color:#FFF;
  height:6px;
  margin-bottom:2px;
}
div#progbar {
  height:6px;
}
div#votebuttonslow {
  display:block;
  width:322px;
  font-size:13px;
  margin:5px 5px 2px 5px;
  position:fixed;
  bottom:4px;
}
div#votebuttonslow a {
  text-decoration:none;
  border:1px solid black;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  display:inline-block;
  width:15px;
  height:15px;
  background-color:#FFF;
  color:#000;
  text-align:center;
  font-size:12px;
}
#id_comment {
  background-color:#FFF;
  height:15px;
  border:1px inset #666;
  font-size:10px;
  padding:0px;
  margin:4px 0px 0px 6px;
  border-radius:3px 3px 0px 0px;
  -moz-border-radius:3px 3px 0px 0px;
  -webkit-border-radius:3px 3px 0px 0px;
  width:100%;
}
#commentsbox {
  font-size:12px;
  border:1px inset #666;
  border-radius:0px 0px 3px 3px;
  -moz-border-radius:0px 0px 3px 3px;
  -webkit-border-radius:0px 0px 3px 3px;
  padding:1px;
  font-family:verdana;
  bottom:2px;
  height:74px;
  left:6px;
  right:350px;
  position:fixed;
  overflow:hidden;
}
#commentsbox a {
  text-decoration:none;
}
#commentsbox a:hover {
  text-decoration:underline;
}
#leftist {
  position:fixed;
  left:0px;
  bottom:0px;
  right:356px;
  vertical-align:top;
  height:100px;
}
#rightist a {
  text-decoration:none;
  color:#000;
}
#rightist a:hover {
  text-decoration:underline;
}
#rightist {
  position:fixed;
  right:6px;
  bottom:2px;
  width:339px;
  height:93px;
  vertical-align:top;
  border:1px inset #666;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
#expandbutt {
  float:right;
  width:7px;
  height:7px;
  border:1px solid black;
  padding:0px;
  margin:0px;
  background-color:#D0B190;
  background-image:url('pos.gif');
  display:none; /* IT DOESN'T WORK I CAN'T MAKE IT WORK AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
}
#songandartist {
  margin-top:4px;
  font-family:verdana;
  font-size:11px;
  margin-left:5px;
}

/* ARTISTS LIST SPECIFIC SHITE */

div.artists {
  margin:5px 5px 95px 112px;
}
div.page-links {
  background-color:#FFF;
  border:1px solid black;
  border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  text-align:center;
  padding:10px 0px;
  margin:0;
  font-size:11px;
  box-shadow:1px 1px 1px rgba(0,0,0,0.5);
  -moz-box-shadow:1px 1px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.5);
}
div.artists ul {
  margin:5px 0px;
  padding:10px 20px;
  border:1px solid black;
  border-radius:8px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  font-size:13px;
  box-shadow:1px 1px 1px rgba(0,0,0,0.5);
  -moz-box-shadow:1px 1px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow:1px 1px 1px rgba(0,0,0,0.5);
}
div.artists a {
  text-decoration:none;
}
div.artists a:hover {
  text-decoration:underline;
}
ol.alphabetical a {
  font-size:14px;
  display:block;
  text-align:center;
  width:15px;
  border:1px inset black;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  text-decoration:none;
  color:#000;
}
ol.alphabetical li.chosen a {
  font-weight:bold;
  background-color:#CCC;
}
ol.alphabetical a:hover {
  background-color:#D0E2FF;
  text-decoration:none;
}

ol.alphabetical li {
  display:inline-block;
}

/* ONE ARTISTS PAGE SPECIFICS */

div#maincontainer table {
  width:100%;
  font-size:12px;
}
table td {
  padding:0px 5px;
}
.album {
  padding:5px;
  font-weight:bold;
  border-width:1px 0 0 0;
  border-style:solid;
  border-color:black;
  font-size:14px;
  background-color:rgba(255,0,0,0.06);
}
th.album {
  border:0;
  background-color:transparent;
  font-size:18px;
}
a.adderbutt {
  border:2px outset black;
  background-color:rgba(255,220,200,1);
  padding:0px 20px;
}
td.lengthy {
  width:40px;
  text-align:center;
}
td.addcol {
  width:120px;
  text-align:center;
}
div#artistboxen {
  font-size:12px;
  padding:10px;
}
h5 {
  font-size:18px;
  margin:0px;
}
#artistboxen .firstbit {
  float:left;
  max-width:68%;
  overflow:hidden;
}
#artistboxen .secondbit {
  max-width:30%;
  float:right;
  overflow:hidden;
}
/* EXPERIMENTAL CRAP */
/*
tr.custom3 .artistry {
  background-image:url('marker2.png');
  background-repeat:no-repeat;
  background-position:left center;
}
tr.custom4 .artistry {
  background-image:url('marker3.png');
  background-repeat:no-repeat;
  background-position:left center;
}*/
.disabled {
  text-decoration:line-through;
}
/* fdgdsfgfdsgsdsfdsfdasfdasfdsfdasfdasfh */
/* DEFINE ALL THE EMOTICONS, SPECIFY HEIGHT FOR ICONS TALLER THAN 20~25PX OR THEY GET CUT */
td.emoted { }
.fourone {
  background:transparent url('41.gif') no-repeat center center;
  width:24px;
}
.fourfive {
  background:transparent url('45.gif') no-repeat center center;
  width:47px;
}
#djangoForumBody {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

#djangoForumList,
#djangoForumThreadList,
#djangoForumThreadPosts {
    border-collapse: collapse;
    width: 100%;
}

#djangoForumList td,
#djangoForumThreadList td,
#djangoForumThreadPosts td {
    border: solid #777 1px;
    padding: 6px;
}

#djangoForumList .djangoForumListDetails {
    width: 70%;
}

#djangoForumList .djangoForumListDetails strong {
    font-size: 120%;
}

#djangoForumList .djangoForumListDetails .djangoForumStats {
    font-size: 80%;
}

.djangoForumListLastPost,
.djangoForumThreadLastPost {
    background-color: #ccc;
    border-bottom: solid #777 1px;
}

#djangoForumList th,
#djangoForumThreadList th,
#djangoForumThreadPosts th {
    background-color: #3a3;
    border: solid #777 1px;
    color: #fff;
    text-align: left;
    padding: 4px;
}

#djangoForumThreadPosts th {
    width: 20%;
}

#djangoForumBreadcrumbs {
    padding: 20px;
}

#djangoForumBody label {
    font-size: 110%;
    font-weight: bold;
    display: block;
    padding: 4px;
}

#djangoForumThreadPostDetail {
    width: 20%;
}
.djangoForumPagination {
    display: inline;
}