/*
for simple color and image changing theme, the marked attributes are
freely changeable without immediate danger of structural compromise. :)
- lots of homosexual love, overdose xxx
*/
body, th, td {
  font:12px/1.4em Verdana,sans-serif;
}
div.playlist table td {
  height: 18px;
  padding: 0px;
}
body {
  background-image:url('bodystripes3.png'); /* THEME: background */
}
#playlist {
  background-color:#EFE; /* THEME: playlist background */
}
tr.odd, #columns tr {
  background-color:#F5FFEE; /* THEME: playlist alternating color 1 */
}
tr.even, #columns tr {
  background-color:#E5EEDE; /* THEME: playlist alternating color 2 */
}
#columns th {
  background-color:#363; /* THEME: column labels at the top background */
  color:#EEE; /* THEME: column labels color */
  font-weight:bold; /* THEME: column labels weight */
}
#playlist a {
  text-decoration:none; /* THEME: playlist item text decoration */
  color:black; /* THEME: playlist item color */
  padding:0px 5px;
}

#playlist a:hover {
  text-decoration:underline;
}

div.playlist {
  margin-left: 133px;
  margin-right:3px;
}
div.playlist table {
  width:100%;
  border:1px solid black;
}
div.leftside {
  width:133px;
  float:left;
}
div.sidebar {
  background-repeat:repeat-y;
  background-image:url('menubg.png');
  background-color:#F9FFF9; /* THEME: menu base color */
  width:100px;
}
div.sidebarbg {
  background-image:url('sidebarimg2.png'); /* THEME: menu base image (default; leaves) */
  width:100px;
}
img.logo {
  background-image:url('logobg3.png'); /* THEME: menu base logo at the top (default; worried face) */
}
ol.menu {
  margin-left:40px;

}
ol.menu li {
  font-size:10px;
  list-style:none;
  background-image:url('container6.png');
  background-repeat:no-repeat;
  background-color:#F5FFEE; /* THEME: menu button colors */
  margin:2px 0px 2px -40px;
  width:85px;
  height:16px;
}
ol.menu  a {
  text-decoration:none;
  color:black;
  margin:2px 0px 2px 10px;
}
ol.menu li:hover {
  background-color:#9C9; /* THEME: menu button hover color */
}
#butansurface {
  position:absolute;
  margin-left:-10px;
}
div.banner {
  clear: both;
  float: center;
  margin-left: auto;
  margin-right:auto;
  width: 640px;
}
div.song {
  margin-left: auto;
  margin-right:auto;
  width: 630px;
  float: center;
  border-style: dotted;
  border-width: 1px;
  padding: 5px;
}
div.page-links {
  text-align: center;
  border-style: dotted;
  border-width: 1px;
  padding: 3px;
  background-color:#EFE; /* THEME: artist index banner background */
}
div.artists {
  margin-left: 133px;
  margin-right: auto;
  width: 640px;
  float: center;
  border-width: 1px;
  
}
div.artists li a {
  text-decoration:none;
}
div.artists li a:hover {
  text-decoration:underline;
}
div.artists ul {
  background-color:#EEFCEE;
  border:1px dotted black;
  list-style-image:url('note.png');
}
p.artists {
  border-width: 1px;
  border-style: dotted;
  padding: 5px;
}
p.copyright {
  font-size: 0.7em;
  color: grey;
  max-width:99px;
  text-align:center;
}
th.song {
  font-family: "Lucida Grande","Lucida Sans",Helvetica,Geneva,Verdana,Arial;
  color: white;
  background-color: black;
  font-size: 10px;
  border-bottom: 2px solid black;
}
a img {
  border-width: 0px;
}
tbody#playlist td img {
  height:15px;
  width:15px;
}
.album {
  font-weight: bold;
  text-align: center;
}
.playing td {
  background-color: #9C9; /* THEME: playlist currently playing item background color */
  font-weight:bold; /* THEME: playlist currently playing item font weight */
}
.banned {
  text-decoration: line-through;
}
div.content div.playlist table th {
  background-color:#EFE;
}
div.content {
  
}
div.playlist div.playlist {
  border:1px solid black;
}
div#player1 {
  text-align:center;
}
a.voted {
  background-color: black;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

