{% extends "playlist/master.html" %}

{% block title %}Artists - GBS-FM{% endblock %}
  
  {% load filters %}
  
{% block main %}
  <div class="artists">
  <div class="page-links">
  <ol class="alphabetical">
      <li {% ifequal letter "123" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "123","1" %}">#</a></li>
      <li {% ifequal letter "a" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "A","1" %}">A</a></li>
      <li {% ifequal letter "b" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "B","1" %}">B</a></li>
      <li {% ifequal letter "c" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "C","1" %}">C</a></li>
      <li {% ifequal letter "d" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "D","1" %}">D</a></li>
      <li {% ifequal letter "e" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "E","1" %}">E</a></li>
      <li {% ifequal letter "f" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "F","1" %}">F</a></li>
      <li {% ifequal letter "g" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "G","1" %}">G</a></li>
      <li {% ifequal letter "h" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "H","1" %}">H</a></li>
      <li {% ifequal letter "i" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "I","1" %}">I</a></li>
      <li {% ifequal letter "j" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "J","1" %}">J</a></li>
      <li {% ifequal letter "k" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "K","1" %}">K</a></li>
      <li {% ifequal letter "l" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "L","1" %}">L</a></li>
      <li {% ifequal letter "m" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "M","1" %}">M</a></li>
      <li {% ifequal letter "n" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "N","1" %}">N</a></li>
      <li {% ifequal letter "o" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "O","1" %}">O</a></li>
      <li {% ifequal letter "p" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "P","1" %}">P</a></li>
      <li {% ifequal letter "q" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "Q","1" %}">Q</a></li>
      <li {% ifequal letter "r" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "R","1" %}">R</a></li>
      <li {% ifequal letter "s" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "S","1" %}">S</a></li>
      <li {% ifequal letter "t" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "T","1" %}">T</a></li>
      <li {% ifequal letter "u" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "U","1" %}">U</a></li>
      <li {% ifequal letter "v" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "V","1" %}">V</a></li>
      <li {% ifequal letter "w" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "W","1" %}">W</a></li>
      <li {% ifequal letter "x" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "X","1" %}">X</a></li>
      <li {% ifequal letter "y" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "Y","1" %}">Y</a></li>
      <li {% ifequal letter "z" %}class="chosen"{% endifequal %}><a href="{% url playlist.views.listartists "Z","1" %}">Z</a></li>
    </ol>
    {% if artists.has_previous %}
      <a href="{% url playlist.views.listartists letter,artists.previous_page_number %}">previous</a>
    {% endif %}
    Artists: page {{ artists.number }} of {{ artists.paginator.num_pages }}
    {% if artists.has_next %}
      <a href="{% url playlist.views.listartists letter,artists.next_page_number %}">next</a>
    {% endif %}
  </div>
    <ul>
      {% for artist in artists.object_list %}
        <li><a href="{% url artist artist.id %}"> {{ artist.name }}</a> ({{artist.songs.count}} songs)</li>
      {% endfor %}
    </ul>

  </div>
 
{% endblock %} 