{% extends "playlist/master.html" %}

{% block title %}{{artist.name}} - GBS-FM{% endblock %}
	
  {% load filters %}
  
{% block main %}
	<div class="playlist">
		<table width="620" >
			<img src = "images/down.png" align = "left">
			<tr><th>{{artist.name}}</th></tr>
			<tr>
				<th>Title</th>
				<th>Length</th>
				<th>Add</th>
			</tr>
			<tr><td class="album" >{{ song.album.name }}</td></tr>
			{% for song in songs %}
        {% ifchanged song.album %} 
        <tr>
        <td class="album" colspan=3> <a name="{{song.album.id}}" id="{{song.album.id}}"> </a> {{ song.album.name }}</td>
        </tr> 
        {% endifchanged %}
        <tr>
          <td {% if song.banned %}class="banned"{% endif %}><a href="{% url playlist.views.song song.id %}">{{ song.title }}</a></td>
          <td>{{ song.length|stom }}</td>
          <td>{% include "playlist/add.html" %}</td>
        </tr>
      {% endfor %}
			<img class="center" src = "images/down.png" align="right">
		</table>
	</div>
 
{% endblock %} 