{% extends "playlist/master.html" %}
{% block title %}GBS-FM{% endblock %}
{% load filters %}

{% block main %}	

	<div class="playlist">
    {% if msg %}<p class="message">{{msg}}</p>{% endif %}
    {% if playlist %}
		<table width="620">
			<img src = "images/down.png" align = "left">
			<tr>
				<th>Artist</th>
        <th>Title</th>
        <th>Time</th>
        <th>Added by</th>
			</tr>
			{% for entry in playlist %}
        <tr {% if entry.playing %}class="playing"{% endif %}>
        
        <td><a href='{% url playlist.views.artist entry.song.artist.id %}'>{{ entry.song.artist }}</a></td>
        <td><a href='{% url playlist.views.song entry.song.id %}'>{{ entry.song.title }}</a></td>
        <td>{{ entry.song.length|stom }}</td>
        <td><a href='{% url playlist.views.user entry.song.artist.id %}'>{{ entry.adder.username }}</a></td>
        </tr>
      {% endfor %}
			<img class="center" src = "images/down.png" align="right">
		</table>
		{% else %}
    <p>Playlist empty!</p>
    {% endif %}
</div>
{% endblock %}
