<html>
  <head>
    <title>{% block title %}GBS-FM{% endblock %}</title>
    <style type="text/css">
			div.playlist {margin-left: auto; margin-right:auto; width: 640px;}
		</style>
	</head>

	<body>
	<div class="playlist">
		<img src = "images/banner.png">
	</div>
	<div class="playlist">
    <form enctype="multipart/form-data" action="/login" method="POST">
    <table>
      {{ form.as_p }}
      <input type="submit" value="Submit" />
    </table>
    </form>
  <p>If you haven't already, <a href="{% url playlist.views.register %}">register here.</a></p>
	</div>
	</body>
</html>



