<html>
  <head>
    <title>{% block title %}GBS-FM{% endblock %}</title>
    <style type="text/css">
			div.playlist {margin-left: auto; margin-right:auto; width: 640px;}
		</style>
	</head>

	<body>
	<div class="playlist">
		<img src = "images/banner.png">
	</div>
	<div class="playlist">
    <span class="error">{{error}}</span>
    <p>Register:</p>
    <form enctype="multipart/form-data" action="{% url playlist.views.register %}" method="POST">
    <table>
      {{ form.as_p }}
      <input type="submit" value="Submit" />
    </table>
    </form>
	</div>
	</body>
</html>



