<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title>500 - Internal Server Error</title>
 </head>
 <body>
  <h1>500 - Internal Server Error</h1>
  <p>An error has occurred. If this happens a lot, please report it on #gbs-fm at irc.buttes.org or <a href="http://forums.somethingawful.com/showthread.php?noseen=0&threadid=3337579">here</a></p>
 </body>

</html>
