{% extends "master.html" %}

{% block title %}{{artist.name}} - GBS-FM{% endblock %}
	
  {% load filters %}
  
{% block main %}
	<div class="playlist">
		<table width="620" class="artist">
			<tr><th class='album' colspan='3'>{{artist.name}}</th></tr>
			<tr>
				<th>Title</th>
				<th>Length</th>
				<th>Add</th>
			</tr>
			{% for song in songs %}
        {% ifchanged song.album %} 
        <tr class="albumTitle">
        <td class="album" colspan=3> {% if song.album %}<a href="{% url album song.album.id %}"> {{ song.album.name }}</a> {% endif %}</td>
        </tr> 
        {% endifchanged %}
        <tr class="{% if forloop.counter|divisibleby:"2" %}even{% else %}odd{% endif %}">
          <td {% if song.banned %}class="banned"{% endif %}><a href="{% url playlist.views.song song.id %}">{{ song.title }}</a></td>
          <td>{{ song.length|stom }}</td>
          <td>{% include "add.html" %}</td>
        </tr>
      {% endfor %}
		</table>
	</div>
 
{% endblock %} 