{% extends "master.html" %}
{% block title %}{{now_playing}} - GBS-FM{% endblock %}
{% load filters %}

{% block head %}
    

<script type="text/javascript">

var DELAY = 10000;



var slideFix = function(){
  $(document.getElementById("700")).attr("style", "");
}

var olHandler = function(data){
  alert(data);
}
  
var lastremoval = {{ lastremoval|default:"0" }};
//var userid = {{user.id}}; //you're wasting your time, I'm not that stupid


var getLastEntry = function(){
  return $('#playlist > :last-child').attr('id');
}
/*var getLastOldEntry = function(){
  playlist = $('#playlist > tr')
  for (i=0; i<playlist.length; i++) {
    if ($(playlist[i]).is('.playing')) {
      return $(playlist[i-1]).attr('id')
    }
  }
}*/

var removeCallback = function() {
  $(this).remove();
}

var nowPlayingHandler = function(data){  
  currplaying = $(".playing");
  if (currplaying.attr('id') != data) {
    currplaying.removeClass('playing');
    currplaying.addClass('history');
    currplaying.children(".actions").html(""); //remove actions buttons
    nextplaying = $(document.getElementById(data));
    nextplaying.addClass('playing');
    nextplaying.children(".actions").html(""); //remove actions buttons
  }
}

var delHandler = function(data){
  for (var i=0; i < data.length; i++) {
    deleted = $(document.getElementById(data[i].fields.oldid));
    if (deleted.hasClass("playing")) {

    } else {
      deleted.fadeOut("slow", removeCallback);
    }
    lastremoval = data[i].pk;
  }
}

var stom = function(time){
  seconds = time%60;
  minutes = parseInt(time/60);
  if (seconds < 10) { 
    seconds = "0" + seconds.toString(); //add zero to single digit numbers
  } else {
    seconds = seconds.toString();
  }
  return minutes.toString() + ':' + seconds;
}

/*var addHandler = function(data){
  playlist = $('#playlist')
  for (var i=0; i < data.length; i++) {
    entry = data[i];
    if (entry.fields.adder.pk == userid) {
      removebutton = "\
          <a href='{% url removeentry_js %}"+ entry.pk +"'>\
          <img src = 'images/cross.png' title='Remove song from playlist' alt='cross' >\
          </a>\
        ";
    } else {
      removebutton = "";
    }
    
    if (data.fields.vote_count) {
      score = data.fields.avg_score + " with " + data.fields.vote_count + " vote";
      if (data.fields.vote_count > 1) score += "s"; //pluralise
    } else score = "no votes"; 
    
    votes = "";
    
    for (i=1; i<=5; i++) {
      if (Math.round(data.fields.user_vote) == i) {
        voted = " voted";
      }
      votes += "<a href='{% url playlist.views.ajax 'vote' %}?vote="+i+"&songid="+ entry.fields.song.pk +"' class='vote"+i+voted+"'>"+i+"</a>"
    }
    
    
    lastentry = $('#playlist > :last-child')
    newentry = lastentry.after("\
    <tr id='" + entry.pk + "'>\
        <td><a href='{% url artist_js %}"+ entry.fields.song.fields.artist.pk+"'>"+ entry.fields.song.fields.artist.fields.name +"</a></td>\
        <td><a href='{% url song_js %}"+ entry.fields.song.pk +"'>"+ entry.fields.song.fields.title +"</a></td>\
        <td class='time'>"+ stom(entry.fields.song.fields.length) + "</td>\
        <td><a href='{% url user_js %}"+ entry.fields.adder.pk +"'>"+ entry.fields.adder.fields.username +"</a></td>\
        <td class='votes details'> \
        "+votes+"\
        </td> \
        <td class='score'>\
        "+ score +"\
        </td>\
        <td class='actions'> \
        "+ removebutton +"\
        </td>\
    </tr>").next()
    if (lastentry.hasClass('odd')) {
      newentry.addClass('even')
    } else {
      newentry.addClass('odd')
    }
  }
}*/

var addHandler = function(data){
  lastentry = $('#playlist > :last-child');
  newentry = lastentry.after(data);
}

var stripe = function(data) {
  $('#playlist tr:nth-child(odd)').removeClass('even').addClass('odd');
  $('#playlist tr:nth-child(even)').removeClass('odd').addClass('even');
}
/*var oldEntryHandler = function(data){
  for (var i=0; i < data.length; i++) {
    entry = data[i];
    lastentry = $(document.getElementById(getLastOldEntry()));
    votes = "";
    for (i=1; i<=5; i++) {
      if (entry.user_vote == i) {
        vote_class = " voted";
      } else {vote_class = "";}
      
      votes += "<a href='{% url playlist.views.ajax 'vote' %}?vote="+i+"&songid="+ entry.fields.song.pk +"\
      ' class='vote"+i+vote_class+"'>"+i+"</a>";
    }
    newentry = lastentry.after("\
    <tr id='h" + entry.pk + "'>\
        <td><a href='{% url artist_js %}"+ entry.fields.song.fields.artist.pk +"'>"+ entry.fields.song.fields.artist.fields.name +"</a></td>\
        <td><a href='{% url song_js %}"+ entry.fields.song.pk +"'>"+ entry.fields.song.fields.title +"</a></td>\
        <td class='time'>"+ stom(entry.fields.song.fields.length) + "</td>\
        <td><a href='{% url user_js %}"+ entry.fields.adder.pk +"'>"+ entry.fields.adder.fields.username +"</a></td>\
        <td class='votes details'> \
          <a href='{% url playlist.views.ajax 'vote' %}?vote=1&songid="+ entry.fields.song.pk +"' class='vote1'>1</a> \
          <a href='{% url playlist.views.ajax 'vote' %}?vote=2&songid="+ entry.fields.song.pk +"' class='vote2'>2</a> \
          <a href='{% url playlist.views.ajax 'vote' %}?vote=3&songid="+ entry.fields.song.pk +"' class='vote3'>3</a> \
          <a href='{% url playlist.views.ajax 'vote' %}?vote=4&songid="+ entry.fields.song.pk +"' class='vote4'>4</a> \
          <a href='{% url playlist.views.ajax 'vote' %}?vote=5&songid="+ entry.fields.song.pk +"' class='vote5'>5</a> \
        </td> \
    </tr>").next()
    if (lastentry.hasClass('odd')) {
      newentry.addClass('even')
    } else {
      newentry.addClass('odd')
    }
  }
}*/

var pruneHandler = function(){
  oldplaylist = $(".history");
  for (var i=0; i<(oldplaylist.length - 10); i++) { //TODO 10 should be a user setting so need to fix somehow
    $(oldplaylist[i]).fadeOut('slow', removeCallback);
  }
}

var titleHandler = function(data) {
  if ($("title").html() != data) {
    $("title").html(data)
  }
}

var addVoteHandler = function(data) {
  $("a[href*='/vote?']").not('.handled').click(function(event) {
    tgt = $(event.target);
    votelink = event.target.href;
    if (tgt.hasClass('voted')) {
      //clicking again to clear vote
      votelink.length -=1; //get rid of vote at end
      $.get(votelink + '0'); //vote 0 to clear vote
      tgt.removeClass("voted");
    } else {
      $.get(votelink);
      tgt.parent().children().removeClass("voted");
      tgt.addClass("voted");
    }
    event.preventDefault();
  }).addClass('handled');
}

var lenHandler = function(data) {
  length = $("#length")
  if (length.html() != data) {
      length.html(data);
  }
}

var checkLoop = function(){
  $.getJSON("{% url playlist.views.ajax resource="deletions" %}", {'lastid': lastremoval}, delHandler);
  //$.getJSON("{% url playlist.views.ajax resource="adds" %}", {'lastid': getLastEntry()}, addHandler);
  $.get("/playlist/"+getLastEntry(), addHandler);
  $.getJSON("{% url playlist.views.ajax resource="nowplaying" %}", nowPlayingHandler);
  //$.getJSON("{% url playlist.views.ajax resource="history" %}", {'lastid': getLastOldEntry()}, oldEntryHandler);
  $.get("{% url playlist.views.ajax resource="pltitle" %}", {}, titleHandler);
  $.get("{% url playlist.views.ajax resource="pllength" %}?formatted", {}, lenHandler);
  addVoteHandler();
  pruneHandler();
  stripe();

  setTimeout('checkLoop()', DELAY);
}

$(document).ready(function(){
  checkLoop();
/*  addVoteHandler();*/
//     $("a[href*='/vote?']").click(function(event) {
//     alert(event.target.href);
//     $.get(event.target.href);
//     $(event.target).parent().children().removeClass("voted");
//     $(event.target).addClass("voted");
//     event.preventDefault();
//   });
//   nowPlaying();
//   $('tbody').append("\
//       <tr id='700'>\
//         <td><a href='/artist/1'>A Song</a></td>\
//         <td><a href='/song/1'>An Album</a></td>\
//         <td>4:38</td>\
//         <td><a href='/user/1'>jj</a></td>\
//       </tr>");
//   $(document.getElementById("700")).hide();
//   setTimeout('$(document.getElementById("700")).fadeIn("slow")', 3000);
//   setTimeout('$(document.getElementById("1")).fadeOut("slow")', 3500);
});


</script>


{% endblock %}

{% block main %}  
  {% if welcome_message %}
  <div class="notices">{{welcome_message|safe}}</div>
  {% endif %}
  <div class="playlist" id ="playlistdiv">
    {% if msg %}<p class="message">{{msg}}</p>{% endif %}
    {% if aug_playlist %}
    <table class="playlist" id="playlisttable">
    <tbody id='playlist'>
      <th colspan="7" id="length">{% include "pl_length.html" %}</th>
      <tr id='columns'>
        <th>Artist</th>
        <th>Title</th>
        <th>Time</th>
        <th>Added by</th>
        <th>Vote</th>
        <th>Score</th>
        <th>Actions</th>
      </tr>
      {% include "playlist_table.html" %}
    </tbody>
    </table>
    {% else %}
    <p>Playlist empty!</p>
    {% endif %}
</div>
{% endblock %}