<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<head>
<title>{% block title %}g2{% endblock %}</title>
<link rel="shortcut icon" href="/images/favicon.ico" />
<link href="images/style.css" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>
<!-- <style type="text/css">
  body, th, td { font:12px/1.4em Verdana,sans-serif; }
  div.playlist {margin-left: auto; margin-right:auto; width: 640px; }
  div.sidebar {margin-left: 10px; float: left;}
  div.banner {clear: both; float: center; margin-left: auto; margin-right:auto; width: 640px;}
  div.song {margin-left: auto; margin-right:auto; width: 630px; float: center; border-style: dotted; border-width: 1px; padding: 5px;}
  div.page-links {text-align: center; border-style: dotted; border-width: 1px; padding: 3px;}
  div.artists {margin-left: auto; margin-right:auto; width: 640px; float: center; border-width: 1px;}
  table.playlist {width: 640px;}
  p.artists {border-width: 1px; border-style: dotted; padding: 5px;}
  p.copyright {font-size: 0.7em; color: grey;}
  ol.menu {list-style-type: lower-greek;}
  div.messages {border-width: 1px; border-style: solid; width: auto; padding: 5px; border-color: red;}
  div.content {width: 640px; margin-right: auto; margin-left: auto; }
  em.bold {font-weight: bold; font-style: normal;}
  /*table.songs {text-align: center;}*/
  th.song {
  font-family: "Lucida Grande","Lucida Sans",Helvetica,Geneva,Verdana,Arial;
  color: white;
  background-color: black;
  font-size: 10px;
  border-bottom: 2px solid black;
  }
  a img {border-width: 0px;}
  /*tr {text-align: inherit;}
  td {text-align: center;}*/
  .album {font-weight: bold; text-align: center;}
  .playing {background-color: #4466bb;}
  .banned {text-decoration: line-through;}
</style>-->

<script type="text/javascript" src="images/swfobject.js"></script>
<script type="text/javascript" src="images/playload.js"></script>
<script type="text/javascript">


//convert seconds to minutes:seconds
function stom(time){
  seconds = time%60;
  minutes = parseInt(time/60);
  if (seconds < 10) { 
    seconds = "0" + seconds.toString(); //add zero to single digit numbers
  } else {
    seconds = seconds.toString();
  }
  return minutes.toString() + ':' + seconds;
}

/*** vote handling stuff ***/

function voteHandler(event) {
  tgt = $(event.target);
  votelink = event.target.href;
  if (tgt.hasClass('voted')) {
    //clicking again to clear vote
    votelink = votelink.slice(0, votelink.length-1); //get rid of vote at end
    $.get(votelink + '0'); //vote 0 to clear vote
    tgt.removeClass("voted");
  } else {
    $.get(votelink);
    tgt.parent().children().removeClass("voted");
    tgt.addClass("voted");
  }
  event.preventDefault();
}

function addVoteHandler () {
  $("a[href*='/vote?']").not('.handled').click(voteHandler).addClass('handled');
}

function voteLoop() {
  addVoteHandler();
}
  

/*** progress bar stuff ***/

//both of these are in seconds
var songLength = {{song_length}};
var songPosition = {{song_position}};
//percentage
var songProgress = {{song_progress}}; 

function setSongLength(length) {
  songLength = length;
  $('#songLength').html(stom(length));
  
}

function setSongPosition(pos) {
  pos = Math.round(Math.min(pos, songLength));
  if (songPosition != pos) {
    $('#songPosition').html(stom(pos));
    songPosition = pos;
    setSongProgress((pos/songLength)*100);
  }
  ajax_args['position'] = pos;
}

function setSongProgress(percentage) {
  $(".progbar").css("width", percentage.toString() + '%');
  //alert(percentage.toString() * '%');
  songProgress = percentage;
}


function secondLoop() {
  setSongPosition(songPosition+1);
  setTimeout('secondLoop()', 1000);
}

/**
* Sets up the quick search box properly
**/
function setupSearch() {
  searchbox = $('#id_query');
  searchbox.css('color', 'grey');
  searchbox.attr('value', "Quick search"); //override browser modifications
  searchbox.focus(function () {
    if (searchbox.attr('value') == "Quick search") {
      searchbox.attr('value', '');
      searchbox.css('color', 'black');
    }
  });
}


/*** event handlers for clutterbar ***/

function songLengthHandler(e, length) {
  setSongLength(length);
}

function songPositionHandler(e, position) {
  setSongPosition(position);
}

  
/*** event loop stuff ***/

//delay between ajax calls
DELAY = 10000; 

//associative array storing args for ajax calls
//TODO: replace with array of functions to be called to obtain args
ajax_args = {}


//Called when list of events is recieved from server: triggers the correct javascript events with the correct arguments
function eventDispatcher(data) {
  for (i=0; i<data.length; i++) {
    $('body').trigger(data[i][0], [data[i][1]]);
  }
}


//Main AJAX loop: handles all periodic AJAX calls
function ajaxLoop() {
  $.getJSON("{% url playlist.views.ajax %}", ajax_args, eventDispatcher);
  setTimeout('ajaxLoop()', DELAY);
}

$(document).ready(function(){
  setSongLength(songLength);
  setSongPosition(songPosition);
  ajax_args['position'] = songPosition;
  $('body').bind('songPosition', songPositionHandler);
  $('body').bind('songLength', songLengthHandler);
  setupSearch();
  secondLoop();
  ajaxLoop();
  voteLoop();
  
});
</script>


{% block head %}
{% endblock %}
</head>

<body>
<!-- extra comment gitted -->
<!--<div class="banner">
    <img src = "images/banner.png" alt="gbs-fm banner" title="gbs-fm" />
</div>-->

<div class="leftside"> <!-- ADDED DIV: to keep playlist from sliding under the menu when window is too small -->
  <div class="sidebar">
  <div class="sidebarbg">

    <a href="{% url playlist.views.playlist %}"><img src="images/logo.png" class="logo" alt="g2 logo" title="g2" /></a>
    <ol class='menu'>
      <li><a id="menuitem" href="{% url playlist.views.playlist %}"><img id="butansurface" src="images/butansurface.png" alt="playlist" title="playlist" />Playlist</a></li>
      <li><a id="menuitem" href="{% url playlist.views.search %}"><img id="butansurface" src="images/butansurface.png" alt="search" title="search" />Search:</a></li>
      <li><form action="/search" method="post"><input accesskey='F' id="id_query" name="query" maxlength="100" type="text" value="Quick search" /></form></li>
      <li><a id="menuitem" href="{% url playlist.views.upload %}"><img id="butansurface" src="images/butansurface.png" alt="upload" title="upload" />Upload</a></li> 
      <li><a id="menuitem" href="{% url playlist.views.listartists "all","1" %}"><img id="butansurface" src="images/butansurface.png" alt="artists" title="Browse Artists" />Artists</a></li>
      <li><a id="menuitem" href="{% url playlist.views.user user.id %}"><img id="butansurface" src="images/butansurface.png" alt="user page" title="User Page" />User Page</a></li>
      <li><a id="menuitem" href="{% url user_settings %}"><img id="butansurface" src="images/butansurface.png" alt="settings" title="Settings" />Settings</a></li>
      <li><a id="menuitem" href="{% url forum_index %}"><img id="butansurface" src="images/butansurface.png" alt="forums" title="Forums" />Forums</a></li>
      <li><a id="menuitem" href="http://www.thegreenwood.info/irc/"><img id="butansurface" src="images/butansurface.png" alt="irc" title="IRC" />IRC</a></li>
      <li><a id="menuitem" href="http://gbs.fm:8080/listen.pls"><img id="butansurface" src="images/butansurface.png" alt="listen" title="Listen!" />Listen!</a></li>
      <li><a id="menuitem" href="#" onClick="listenswf(); return false;"><img id="butansurface" src="images/butansurface.png" alt="Flash Player" title="Flash Player" />Flash Player</a></li>
      <li><a id="menuitem" href="{% url django.contrib.auth.views.logout %}"><img id="butansurface" src="images/butansurface.png" alt="logout" 
      title="Logout" />Logout</a></li>
      {% if perms.playlist.view_g2admin %}
      <!--<a href="{#{% url admin_site %}#}"><li>Admin</li></a>-->
      <li><a id="menuitem" href="{% url g2admin %}"><img id="butansurface" src="images/butansurface.png" alt="admin" title="Admin" />Admin</a></li>
      {% endif %}
    </ol>

    <div id="player"></div>
    <p class="copyright">Icons from <a href="http://www.famfamfam.com/lab/icons/silk/">famfamfam</a></p>
    <p class="copyright">Pretty bits by overdose</p>
    <p class="listenersthing">Listeners: {{listeners}}</p>
    <img src="images/menubottom.png" alt="" title="" />
  </div>
  </div>
</div>

<div class="content">
{% if messages %}
  <div class="messages">
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
  </div>
{% endif %}
<div class="main">
{% block main %}
{% endblock %}
</div>
    <div class="clutterbar">  <!--this whole clutterbar should probably work and be positionable top or bottom -->
      
      <div class="progbarbox">
<!--       <p> -->
        <div class="progtube">
          <div style="width:40%;" class="progbar"></div>
        </div>
        <span id="songPosition">4:56</span>/<span id="songLength">7:23</span>
<!--       </p> -->
      </div>
      
      <div class="voteboxbar">
      <!--<p>-->Vote: 
      <a class="selectedvote" href="#">1</a> <!--the width here^^ in percent is the progress of the song -->
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
<!--       </p> -->
      </div>
    </div>
      <div class="voteboxsong"> <!--Song title, comments... I dunno... -->
     <!-- {% if debug %}
      <p><em>Total query count:</em> {{ sqllog|length }}<br/>
      <em>Total execution time:</em> {{ sqltime }}</p>
      {% if show_queries %}
      <ul class="sqllog">
          {% for sql in sqllog %}
              <li>{{ sql.time }}: {{ sql.sql }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endif %}-->
      
      </div>
    
</div>
</body>
</html>
