{% load filters %}
{% for entry in aug_playlist %}
        <tr 
        {% if entry.pl %} 
          id="{{ entry.object.id }}" 
        {% else %} 
          id="h{{ entry.object.id }}" 
        {% endif %} 
        class=" 
        {% if entry.object.playing %}
          playing 
        {% endif %}
        {% cycle 'odd ' 'even ' %}
        {% if not entry.pl %}
          history 
        {% endif %}
        {% ifequal entry.object.song.uploader.username request.user.username %}
          uploaded
        {% endifequal %}
        {% ifequal entry.object.adder request.user %}
          added
        {% endifequal %}
        "> 
        <td class="artistry"><a href='{% url playlist.views.artist entry.object.song.artist.id %}'>{{ entry.object.song.artist }}</a></td> 
        <td><a href='{% url song entry.object.song.id %}'>{{ entry.object.song.title }}</a></td> 
        <td class="time">{{ entry.object.song.length|stom }}</td> 
        <td><a title='uploaded by: {{ entry.object.song.uploader.username }}' href='{% url playlist.views.user entry.object.adder.id %}'>{{ entry.object.adder.username }}</a></td> 
        <!-- {% if entry.pl and not entry.object.playing %}
          notyet 
        {% endif %} 
        TODO: add to classes VVV when prevoting prevention is on
        -->
        <td class=" 
        
        votes details"> 
        {% num_range 1 6 as vote_range %}
        {% for vote in vote_range %}
          <a href="{% url playlist.views.api "vote" %}?songid={{entry.object.song.id}}&vote={{vote}}" class="vote{{vote}} {% ifequal entry.object.user_vote vote %}voted{% endifequal %}" data-songid="{{entry.object.song.id}}" data-vote="{{vote}}">{{vote}}</a> 
        {% endfor %}
        </td> 
        <td class="score"> 
          {% if entry.object.avg_score %}
          {{entry.object.avg_score|floatformat:accuracy}} ({{entry.object.vote_count}} vote{{entry.object.vote_count|pluralize}})
          {% else %}
          no votes
          {% endif %}
        </td> 
        <td class="actions"> 
          {% if entry.favourite %}
            <a href='{% url playlist.views.unfavourite entry.object.song.id %}'> 
              <img src="images/heart_delete.png" title="Remove this dong from your favourites" alt="unfavourite" /> 
            </a> 
          {% else %}
            <a href='{% url playlist.views.favourite entry.object.song.id %}'> 
              {% if request.user.username != "Beelzebozo" %}
              <img src="images/heart_add.png" title="Add this dong to your favourites" alt="favourite" /> 
              {% else %}
              <img src="images/heart_add_beelz.png" title="Add this dong to your favourites" alt="favourite" /> 
              {% endif %}
            </a> 
          {% endif %}
          {% if entry.can_remove %}
            <a class="remove" href='{% url playlist.views.removeentry entry.object.id %}' class="removebutton"> 
              <img src = "images/cross.png" title="Remove song from playlist" alt="cross" /> 
            </a> 
          {% endif %}
          {% if can_skip %}
            <a class="skip" {% if not entry.object.playing %}style="display: none;" {% endif %}href='{% url playlist.views.skip %}'> 
              <img src = "images/skip.png" title="Skip currently playing song" alt="skip" /> 
            </a> 
          {% endif %}
 
              
        </td> 
        </tr> 
      {% endfor %}