<html>
  <head>
    <title>{% block title %}GBS-FM{% endblock %}</title>
    <!-- <style type="text/css">
			div.playlist {margin-left: auto; margin-right:auto; width: 640px;}
      body, th, td { font:12px/1.4em Verdana,sans-serif; }
      .error { color: red; }
		</style> -->
    <link href="images/regstyle.css" rel="stylesheet" type="text/css">
	</head>

	<body>
  <div class="heed"><h1>GBSFM</h1></div>
  <div class="playlist">
    <p class="regreg">Register:</p>
    {% if error %}
    <span class="error">{{error}}</span>
    {% endif %}
    <form enctype="multipart/form-data" action="{% url playlist.views.newregister %}" method="POST">
      {{ form.as_p }}
      <p>Now put your verification code, <em>{{authcode}}</em>, anywhere in the About Me, Location, Occupation or Interest fields of your Something Awful profile and press the button below.</p>
      <input type="submit" value="Verify Account and Register" />
      <p>If you don't have an SA account or encounter any other problem, please email <a href="mailto:jonnty@gbs.fm">jonnty@gbs.fm</a>.</p>
    </form>
	</div>
	</body>
</html>



