{% extends "master.html" %}

{% block title %}{% if query %}{{query}} - {% endif %} Search - GBS-FM{% endblock %}
{% load filters %}

{% block main %}
  <div class="playlist">
    <form action='{% url playlist.views.search %}' method="POST">
    <p>
      {{ form.query }} {{ form.query.errors }}
      Only orphans {{ form.orphan }}
      <input type="submit" value="Search" />
    </p>
    </form>
  
  {% if artists or songs %}
  {% if artists %}
  <p class="artists">Artist{{ artists|length|pluralize }}:
    {% for artist in artists|slice:":-1" %}
      <a href="{% url playlist.views.artist artist.id %}">{{artist.name}}</a>,
    {% endfor %}
    {% for artist in artists|slice:"-1:" %}
      <a href="{% url playlist.views.artist artist.id %}">{{artist.name}}</a>.
    {% endfor %}
  </p>
  {% endif %}
  {% if albums %}
  <p class="artists">Album{{ albums|length|pluralize }}:
    {% for album in albums|slice:":-1" %}
      <a href="{% url playlist.views.album album.id %}">{{album.name}}</a>,
    {% endfor %}
    {% for album in albums|slice:"-1:" %}
      <a href="{% url playlist.views.album album.id %}">{{album.name}}</a>.
    {% endfor %}
  </p>
  {% endif %}
  {% if songs %}
  <table width="620" class="songs">
    <tr id="columns">
      <th>Artist</th>
      <th>Title</th>
      <th>Time</th>
      <th>Uploaded by</th>
      <th>Add</th>
    </tr>
    {% for song in songs %}
    <tr {% if song.banned %} class="banned" {% endif %}>
      <td><a href='{% url playlist.views.artist song.artist.id %}'>{{ song.artist }}</a></td>
      <td><a href='{% url playlist.views.song song.id %}'>{{ song.title }}</a></td>
      <td>{{ song.length|stom }}</td>
      <td><a href='{% url playlist.views.user song.uploader.id %}'>{{ song.uploader.username }}</a></td>
      <td>{% include "add.html" %}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  {% else %}
  {% if query %}
  <p>No exact dong/artist matches for "{{query}}", sorry.</p>
  {% endif %}
  {% endif %}
  </div>
{% endblock %} 